.main {
    -fx-background-color: #8b57a0;
}

.enter-username-label {
    -fx-text-fill: white;
}

.input {
    -fx-text-fill: white;
    -fx-padding: 10 20 10 20;
    -fx-font-size: 22px;
    -fx-border-radius: 999px;
    -fx-background-radius: 999px;
    -fx-background-color: #673e8b;
    -fx-border-width: 0.5;
    -fx-border-color: black;
}

.button {
    -fx-text-fill: black;
    -fx-padding: 10 50 10 50;
    -fx-font-size: 22px;
    -fx-background-radius: 10px;
    -fx-effect: innershadow( gaussian, rgba( 0, 0, 0, 0.5 ), 5, 0, 0, 2 );
    -fx-background-color: #f2d4ef
}