.main {
    -fx-background-color: #8b57a0;
}

.button {
    -fx-text-fill: black;
    -fx-padding: 10 50 10 50;
    -fx-font-size: 22px;
    -fx-background-radius: 999px;
    -fx-effect: innershadow( gaussian, rgba( 0, 0, 0, 0.5 ), 5, 0, 0, 2 );
    -fx-background-color: #f2d4ef
}

.button.red {
    -fx-background-color: #C82727;
    -fx-text-fill: white;
}


.table {
    -fx-background-radius: 6;
    -fx-background-color: #673e8b;
    -fx-text-fill: white;
}

.table .column-header {
    -fx-background-color: #673e8b;
}

.table .column-header .label {
    -fx-text-fill: white;
    -fx-font-size: 24;
    -fx-padding: 15;
}

.table .table-cell {
    -fx-background-color: #673e8b;
    -fx-text-fill: white;
    -fx-font-size: 24;
}

.table .rank-column {
    -fx-text-alignment: center;
}