.main {
    -fx-background-color: #8b57a0;
}

.custom-text {
    -fx-text-fill: white;
    -fx-padding: 10 60 10 60;
    -fx-background-color: #673e8b;
    -fx-background-radius: 30px;
    -fx-border-color: black;
    -fx-border-width: 1;
    -fx-border-radius: 30px;
}

.question-title {
    -fx-font-size: 32px;
}

.question-description {
    -fx-font-size: 20px;
    -fx-padding: 20;
}

.button {
    -fx-text-fill: white;
    -fx-background-color: #673e8b;
    -fx-padding: 10 50 10 50;
    -fx-font-size: 22px;
    -fx-border-radius: 999px;
    -fx-background-radius: 999px;
    -fx-effect: innershadow( gaussian, rgba( 0, 0, 0, 0.5 ), 5, 0, 0, 2 );
}

.right {
    -fx-background-color: #4eb620;
}

.wrong {
    -fx-background-color: #c91616;
}

.powerup-border {
    -fx-border-color: black;
    -fx-border-width: 1;
}

.leaderboard-text {
    -fx-font-size: 20px;
    -fx-text-fill: white;
}

.loading-bar {
    -fx-fill: #f2d4ef;
    -fx-stroke-width: 0;
}

.time-left {
    -fx-background-color: #f2d4ef;
    -fx-font-size: 24px;
    -fx-padding: 10 30 10 30;
    -fx-background-radius: 999px;

}